body {
    color: black;
    background: red;
    font-family: "Chokokutai", system-ui;
}

header {
    padding-left: 480px;
    padding-bottom: 100px;
    font-size: 70px;
    color: white;
    font-family: "Rubik Wet Paint", sans-serif;

}


.chamada {
    background: black;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
}

div {
.chamada-texto {
        margin-right: 5%;
    }

    h1 {
        font-size: 40px;
    }


    h2{
        padding-top: 100px;
        padding-left: 480px;
        font-size: 40px;
    }

    p{
        font-size: 20px;
    }

    img {
        height: 700px;
    }

    .categoria-videos{
        display: flex;
        overflow-x: auto;
        gap: 5px;
    }
    .categoria{
        padding-left: 10px;
        padding-right: 10px;
    }

    }
    .categoria-videos img:hover {
       opacity: 0.3;
       border: 3px solid white;

    }

    .categoria h2 {
        color:white;
    } 

     section{
    padding-left: 20px;
    padding-right: 20px;
     }